.tab-pane {
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: all 150ms ease-in-out;
  display: none;
}

.tab-pane.fade.scale.active{
  visibility: visible;
  display: block;
  opacity: 1;
  transform: scale(1);
}

.tab-pane.tab-transition-enter-done {
  opacity: 1;
  transform: scale(1);
}
